<!DOCTYPE html>
<html lang= "en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" >

<head>
    <meta name=-"viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title> All Blogs</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
<img class="header-image" src="../img/header.png" alt="header">
<div id="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blogs">All Blogs</a></li>
        <li><a href="/hashtags">All Hashtags</a></li>
    </ul>

</div>
<h1 class="header-title" th:text="'All Blogs With #' + ${hashtagName}"> </h1>

<section class="listed-reviews">

    <div class="single-review list-title">
        <div class="review-title">
            <h2>Game Title</h2>
        </div>
        <!--        <div class="review-num-stars">-->
        <!--            <h2>Movie Rating</h2>-->
        <!--        </div>-->
        <div class="review-date-time">
            <h2>Author</h2>
        </div>
        <div class="review-summary">
            <h2>Blog</h2>
        </div>
    </div>

    <div th:each="blog:${singleHashtag.getBlogs()}"   class="single-review">
        <div class="review-title">
            <a th:href="@{'/games/' + ${blog.getGameTitleFromBlog()}}">
                <p th:text="${blog.getGameTitleFromBlog()}"></p>
            </a>
        </div>
        <!--        <div class="review-num-stars">-->
        <!--            <a th:href="@{'/blogs/' + ${review.reviewId}}">-->
        <!--                <p th:text="${review.getRating()} + ' out of 5'" > </p>-->
        <!--            </a>-->
        <!--        </div>-->
        <div class="review-date-time">
            <p th:text="${blog.getAuthor()}"> </p>
        </div>
        <div class="review-summary">
            <a th:href="@{'/blogs/' + ${blog.blogId}}">
                <p th:text="${blog.getComments()}">
                </p>
            </a>
        </div>
    </div>
</section>

</body>

</html>